* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.main {
  padding: 40px 0;
  width: 100%;
  background-color: blueviolet;
  background-image: url("https://images2.alphacoders.com/132/1325726.png");
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 5px;
}

.menu h3 {
  color: white;
}

.form {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  justify-content: center;
  flex-wrap: wrap;
}

.items-form {
  display: flex;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form input[type="text"] {
  width: 48%;
  height: 30px;
  margin: 8px 0px;
  padding-left: 10px;
}

.form h2 {
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: normal;
}

.form input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #e7426b;
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 19px;
}

.single-content {
  width: 50%;
  margin-top: 40px;
  padding: 8px 30px;
}

@media screen and (max-width: 768px) {
  .items-form input[type="text"] {
    width: 100%;
  }
  .single-content {
    width: 100%;
  }
}
